.sidebar {
  width: 70px;
  overflow: hidden;
  height: calc(100vh - 60px);
  background-color: rgb(247, 241, 241);
  background-color: white;
  // background-color: rgb(238, 255, 255);
  box-shadow: 5px 0 50px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 60px;
  transition: all 500ms ease;
  // border: 3px solid red;

  &.activeSidebar {
    width: 250px !important;
    background-color: teal;

    .sidebarWrapper {
      color: white;
      padding: 20px;
      .sidebarMenu {
        .sidebarTitle {
          color: rgb(228, 228, 228);
          display: block;
        }
        .sidebarList {
          align-items: flex-start;
          .sidebarListItem {
            width: 190px;
            justify-content: flex-start;

            > span {
              display: block;
            }
            color: white;

            &.active,
            &:hover {
              background-color: white;
            }
            .sidebarIcon {
              margin-right: 5px;
              font-size: 23px;
            }
          }
        }
      }
    }
  }

  .sidebarWrapper {
    padding: 10px;
    padding-top: 20px;
    color: #555;
    transition: color 500ms ease;

    .sidebarMenu {
      margin-bottom: 10px;
      // border: 2px solid red;
      .sidebarTitle {
        font-size: 13px;
        color: rgb(187, 186, 186);
        transition: all 300ms ease;
        word-wrap: break-word;
        display: none;
      }

      .sidebarList {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 5px;

        .sidebarListItem {
          // width: 100%;
          width: 30px;
          // border: 2px solid rgb(167, 89, 89);
          color: rgb(68, 68, 68);
          margin-bottom: 5px;
          padding: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          text-decoration: none;
          font-weight: 600;
          transition: all 100ms ease;
          > span {
            display: none;
            transition: all 300ms ease;
          }
          &.active,
          &:hover {
            color: teal;
            // width: 100%;
            background-color: rgb(240, 240, 255);
            display: flex;
            align-items: center;
            // padding: 5px;
          }

          .sidebarIcon {
            // margin-right: 5px;
            transition: all 100ms ease;
            font-size: 25px;
          }
        }
      }
    }
  }
}
